div.background-image {
    background: #fff url('../img/fifa14.jpg') no-repeat center;
    background-size: 100%;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: fixed;
}